
.bg-green{
  background: lightgreen;
}
.generated-row{
  /* border: 1px solid black; */
  white-space: nowrap;
  height: 35px;
  margin-bottom: 0;
}
.generated-div{
  height: 35px;
  width: 75px;
  /* background: lightgrey; */
  margin-right: 0
}
.constant-headers{
  padding-bottom: 30px;
}
.scheduele-container{
  overflow-x: scroll;
  white-space: nowrap;
  /* padding-bottom: 30px; */
  height: 500px;
}
.marg{
    margin-left: -4px;
    width: 75px;
    padding-left: 10px;

}
*{
  margin: 0;
  padding: 0
}
