.generated-row{
  /* border: 1px solid black; */
  white-space: nowrap;
  height: 25px;
  margin-bottom: 15px;
}
.generated-div{
  color: red;
  width: 75px;
  background: salmon;
  margin-right: 0
}
.constant-headers{
  padding-bottom: 30px;
}
.scheduele-container{
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 30px;
  height: 500px;
}
.marg{
    margin-left: -4px;
    width: 75px;
    padding-left: 10px;
    background: lightgreen;
}
*{
  margin: 0;
  padding: 0
}
